.history-page {
    min-height: 90vh;
    background-color: var(--sm-comp-3);
    color: black;
    font-size: 1.5rem;

    padding-left: 6rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    h1,
    h2,
    h3 {
        margin-top: 3rem;

        &:first-child {
            margin-top: 0;
        }
    }

    .list {
    }
    .history-list {
    }

    .random-ideas-list {
    }

    .wish-list {
    }
}
